

<footer>
  <div class="footer__container">
    <div class="page__footer">
      <p class="footer__copyright">&copy; 2023 | All Rights Reserved |&nbsp;</p>
      <div class="footer__developers">
        <p>Developed with</p>
        <!-- <img src="./images/heart.svg" alt="heart.svg" class="footer__image" /> -->
        <svg class="footer__image">
          <use href="./images/icon-project.svg#heart"></use>
        </svg>
        by &nbsp;
        <a class="footer__modal"> team Lighter</a>
      </div>
    </div>
  </div>
</footer>


