
<footer>
  <div class="footer__container">
    <div class="page__footer">
      <p class="footer__copyright">&copy; 2023 | All Rights Reserved |&nbsp;</p>
      <div class="footer__developers">
        <p>Developed with</p>
        <svg class="footer__image">
          <use href="./images/icon-project.svg#heart"></use>
        </svg>
        by &nbsp;
        <button
          type="button"
          class="team-modal-open"
          id="team-modal-open"
          data-action="open-modal"
        > team Lighter</button>
      </div>
    </div>
  </div>
</footer>


