<header class="header-lib">
    <div class="header__style container">
        <div class="header__bgr">
            <div class="header__wrap">
                <div class="header__first-navlist">
                    <a href="./index.html"><button class="btn-home button" type="button">HOME</button></a>
                
                    <a href="./library.html"><button class="btn-library button current" type="button">MY LIBRARY</button></a>
                </div>
            
                <form class="header__searchlib">
                    <input class="header__searchlib-input" type="text" name="searchQuery" placeholder="Movie Search"/>
                    <button class="header__searchlib-btn button" type="submit">
                          <svg class="header__libbtn-icon"><use href="./images/icon-project.svg#search"></use>
                    </svg>
                        </button>
                </form>
            </div>
         <div class="nav-logo">
            <a href="#" class="header__link-logo"><svg class="header__icon-svg">
             <use href="./images/icon-project.svg#film"></use>
            </svg>
           <h1 class="header__link">Filmoteka</h1></a>
           <nav class="header__nav-two">
            <ul class="second-navlist">
                <li class="item"><button type="button" class="item__btn-watched current js-watched">Watched</button></li>
                <li class="item"><button type="button" class="item__btn-queue js-queue">Queue</button></li>
            </ul>
        </nav>
        </div>
    </div>
    </div>
</header>

<!---->
