<div class="team-backdrop">
  <div class="modal-team">
    <h1 class="modal-team-title">Team Lighter</h1>

    <button
      type="button"
      class="close-modal-team-button"
      data-action="close-modal"
    >
      <svg class="close-modal-team-icon">
        <use href="./images/icon-project.svg#icon-close"></use>
      </svg>
    </button>

    <ul class="team-list">
      <li class="team-list-item">
        <img
          width="150"
          class="team-list-img"
          src="./images/team/nadiiazaichenko.jpg"
          alt="Scrum-Master"
        />
        <div class="team-list-content">
          <h3 class="team-list-name">Nadiia Zaichenko</h3>
          <p class="team-list-text">Scrum Master</p>
          <a
            class="team-link"
            href="https://github.com/NadiaZaichenko"
            target="_blank"
          >
            <svg class="github-icon">
              <use href="./images/icon-project.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team-list-item">
        <img
          width="150"
          class="team-list-img"
          src="./images/team/yevheniilukianenko.jpg"
          alt="Developer"
        />
        <div class="team-list-content">
          <h3 class="team-list-name">Yevhenii Lukianenko</h3>
          <p class="team-list-text">Developer</p>
          <a
            class="team-link"
            href="https://github.com/Yevhenii-Lukianenko"
            target="_blank"
          >
            <svg class="github-icon">
              <use href="./images/icon-project.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team-list-item">
        <img
          width="150"
          class="team-list-img"
          src="./images/team/oleksiiyasynetskyi.jpg"
          alt="Developer"
        />
        <div class="team-list-content">
          <h3 class="team-list-name">Oleksii Yasynetskyi</h3>
          <p class="team-list-text">Developer</p>
          <a
            class="team-link"
            href="https://github.com/Yasinetsky"
            target="_blank"
          >
            <svg class="github-icon">
              <use href="./images/icon-project.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team-list-item">
        <img
          width="150"
          class="team-list-img"
          src="./images/team/protasartem.jpg"
          alt="Developer"
        />
        <div class="team-list-content">
          <h3 class="team-list-name">Protas Artem</h3>
          <p class="team-list-text">Developer</p>
          <a
            class="team-link"
            href="https://github.com/Protas183"
            target="_blank"
          >
            <svg class="github-icon">
              <use href="./images/icon-project.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team-list-item">
        <img
          width="150"
          class="team-list-img"
          src="./images/team/antonvlasenko.jpg"
          alt="Developer"
        />
        <div class="team-list-content">
          <h3 class="team-list-name">Anton Vlasenko</h3>
          <p class="team-list-text">Developer</p>
          <a
            class="team-link"
            href="https://github.com/AntonVlasenkoo"
            target="_blank"
          >
            <svg class="github-icon">
              <use href="./images/icon-project.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team-list-item">
        <img
          width="150"
          class="team-list-img"
          src="./images/team/user.png"
          alt="Developer"
        />
        <div class="team-list-content">
          <h3 class="team-list-name">Mykola Fedotov</h3>
          <p class="team-list-text">Developer</p>
          <a
            class="team-link"
            href="https://github.com/FedotovMS"
            target="_blank"
          >
            <svg class="github-icon">
              <use href="./images/icon-project.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team-list-item">
        <img
          width="150"
          class="team-list-img"
          src="./images/team/olesiadmytrenko.jpg"
          alt="Developer"
        />
        <div class="team-list-content">
          <h3 class="team-list-name">Olesia Dmytrenko</h3>
          <p class="team-list-text">Developer</p>
          <a
            class="team-link"
            href="https://github.com/OlesjaD"
            target="_blank"
          >
            <svg class="github-icon">
              <use href="./images/icon-project.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team-list-item">
        <img
          width="150"
          class="team-list-img"
          src="./images/team/serhiishovkun.jpg"
          alt="Developer"
        />
        <div class="team-list-content">
          <h3 class="team-list-name">Serhii Shovkun</h3>
          <p class="team-list-text">Developer</p>
          <a
            class="team-link"
            href="https://github.com/Sh-Serg"
            target="_blank"
          >
            <svg class="github-icon">
              <use href="./images/icon-project.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team-list-item">
        <img
          width="150"
          class="team-list-img"
          src="./images/team/andreyzaycev.jpg"
          alt="Developer"
        />
        <div class="team-list-content">
          <h3 class="team-list-name">Andrii Zaycev</h3>
          <p class="team-list-text">Developer</p>
          <a
            class="team-link"
            href="https://github.com/AndreyZaycev1999"
            target="_blank"
          >
            <svg class="github-icon">
              <use href="./images/icon-project.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team-list-item">
        <img
          width="150"
          class="team-list-img"
          src="./images/team/arturtkachenko.jpg"
          alt="Developer"
        />
        <div class="team-list-content">
          <h3 class="team-list-name">Artur Tkachenko</h3>
          <p class="team-list-text">Developer</p>
          <a
            class="team-link"
            href="https://github.com/Kriminz"
            target="_blank"
          >
            <svg class="github-icon">
              <use href="./images/icon-project.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team-list-item">
        <img
          width="150"
          class="team-list-img"
          src="./images/team/user.png"
          alt="Developer"
        />
        <div class="team-list-content">
          <h3 class="team-list-name">Serhii Shmatok</h3>
          <p class="team-list-text">Developer</p>
          <a
            class="team-link"
            href="https://github.com/Cryosphere"
            target="_blank"
          >
            <svg class="github-icon">
              <use href="./images/icon-project.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team-list-item">
        <img
          width="150"
          class="team-list-img"
          src="./images/team/antonkobyshev.jpg"
          alt="Team Lead"
        />
        <div class="team-list-content">
          <h3 class="team-list-name">Anton Kobyshev</h3>
          <p class="team-list-text">Team Lead</p>
          <a
            class="team-link"
            href="https://github.com/AntonKobyshev"
            target="_blank"
          >
            <svg class="github-icon">
              <use href="./images/icon-project.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>
