<section>
  <div class="container">
        <div class="pagination">
        <button type="button" class="pagination__btn--previous" style="transform: rotate(180deg);" >&#10140</button>
        <button type="button" class="pagination__btn--first-page">1</button>
        <span class="pagination__dots--start">...</span>
        <button type="button" class="pagination__btn pagination__btn--1 pagination__btn--current">1</button>
        <button type="button" class="pagination__btn pagination__btn--2">2</button>
        <button type="button" class="pagination__btn pagination__btn--3">3</button>
        <button type="button" class="pagination__btn pagination__btn--4">4</button>
        <button type="button" class="pagination__btn pagination__btn--5">5</button>
        <span class="pagination__dots--end">...</span>
        <button type="button" class="pagination__btn--last-page"></button>
        <button type="button" class="pagination__btn--next">&#10140</button>
      </div>
  </div>
</section>