.btn-to-top {
  position: fixed;
  bottom: 5vh;
  right: 3vw;
  z-index: 1000;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #fdfdfd;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  color: rgb(0, 0, 0);
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  color: $accent-color;
}

.btn-to-top--visible {
  opacity: 1;
  visibility: visible;
}

.btn-to-top:hover {
  background-color: $accent-color;
  transition: all 0.3s;
  color: #fdfdfd;
  animation: bounce 1s;
}

.btn-to-top__text {
  font-family: Roboto;
  font-weight: 500;
  text-align: center;
}

@keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    transform: translateY(-10px);
    transform: translateY(-10px);
  }

  80% {
    transform: translateY(-5px);
    transform: translateY(-5px);
  }
}
