footer {
    background-color: $footer-bgc;
}

p {
    padding: 0;
    margin: 0;
}

.footer__container {
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
    padding-bottom: 0;
    color: $footer-text-color;

    .footer__image {
        padding-left: 10px;
        padding-right: 10px;
    }

}



@media screen and (min-width: $mobile) {
    .footer__copyright {
        margin: 0px;
        display: flex;
        justify-content: center;
        padding-top: 28px;
        padding-bottom: 12px;
    }

    .footer__developers {
        margin: 0px;
        display: flex;
        justify-content: center;
        padding-bottom: 28px;
    }

    .page__footer {
        font-size: 14px;
    }
}

@media screen and (min-width: $tablet) {
    .page__footer {
        display: flex;
        justify-content: center;
    }

    .footer__copyright {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .footer__developers {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .page__footer {
        font-size: 16px;
    }
}

@media screen and (min-width: $desktop) {
    .page__footer {
        display: flex;
        justify-content: center;
    }

    .footer__copyright {
        padding-top: 29px;
        padding-bottom: 29px;
    }

    .footer__developers {
        padding-top:29px;
        padding-bottom: 29px;
    }

}